apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ ca_data }}
    server: https://{{ apiserver_advertise_address }}:6443
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ cluster_user }}
  name: {{ cluster_user }}@{{ cluster_name }}
users:
- name: {{ cluster_user }}
  user:
    client-certificate-data: {{ client_cert_data}}
    client-key-data: {{ client_key_data}}
