{% for host in groups.all %}
{% if hostvars[host]['ansible_eth1']['active'] %}
{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}       {{ host }} {{ host }}.{{domain_name}}
{% endif %}
{% endfor %}
